html, body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
}

.content-main {
  flex-grow: 1;
}

.content-main-title {
  color: salmon;
  font-family: sans-serif;
  font-size: 200%;
}

.content-sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 300px;
}

.flex-example {
  align-content: flex-start;
  align-items: flex-start;
  border: solid #ccc;
  border-width: 1px 0;
  gap: 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 1000px;
  width: 300px;
}

.flex-item {
  background: yellow;
  border: solid 10px red;
  padding: 10px;
}

.nav-item {
  font-style: italic;
}
